RewriteEngine On
RewriteBase /


RewriteCond %{THE_REQUEST} \s[^?]*//
RewriteRule ^.*$ /$0 [R=301,L,NE]

RewriteCond expr "tolower(%{REQUEST_URI}) =~ /(.*)/"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule [A-Z] %1 [R=301,L]


RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^(.*) https://%1/$1 [R=301,NE,L]


RewriteCond %{REQUEST_URI} ^/.*/$
RewriteRule ^(.*)/ /$1 [L,R=301]

RewriteCond %{REQUEST_URI} ^/news$
RewriteRule .* / [L,R=301]


RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ https://{HTTP_HOST} [R=301,L] 


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|js|png|swf|txt)$

# Otherwise forward the request to index.php
RewriteRule ^(.*)$ index.php

