/.settings/
/.buildpath
/.project
/tmp/
/*.php
/*.log
/*.sql
/public_html/upload/news
/yii-app/tests
.vscode/settings.json
/public_html/i/products
/public_html/i/manufactures
/public_html/pdf
/public_html/.vscode
/.vscode
/public_html/PHP_errors.log
/public_html/url_list.txt
/public_html/.user.ini
/public_html/upload/
